<hr/>
<p
    style="font-size: 10px; color: darkgray;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    COPYRIGHT: BOBBYCORP</p>

<div style="font-size: 8px; color: darkgray;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/help">HELP</a>

</div>