<h1
    style="font-size: 40px; color: gray;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    {{header}}</h1>

<div style="font-size: 8px; color: darkgray;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
    <a href="/">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/help">HELP</a>

</div>